# Configuration sensible
config/config.ini

# Dépendances
vendor/
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporaires
tmp/
temp/
cache/

# Images logo (sauf le logo par défaut)
assets/logo/*
!assets/logo/default1.svg
